.trash
../meme_maker_api/
        ../menu.html
        ../my-code-stuff.code-workspace
        ../my-git-project/
        ../my-smarter-site/
        ../ode_Snippets_In_CS_Code/
        ../personal-offense-history DTT copy.pdf
        ../phone_parser-master.zip
        ../react-portfolio-assets-master/
        ../sample.html
        ../sample_app/
        ../studio3-development/
        ../teacozymixinattempt_dtt (1) (1)/
        ../teacozymixinattempt_dtt (1)/
        ../teacozymixinattempt_dtt/
        ../team-three-donut-shop.git/src/components/pages/
        ../test/
        ../todd-traylor-capstone-project/
        ../todd-traylor-react-portfolio/
        ../wf_e-report_v4-_1.pdf
        ../.BCBSKS - Individual and Family Plans - Print.webarchive.icloud
        ../.BottegaSocialMediaProject_8_5_2019.zip.icloud
        ../.Copy of Bottega Resume - Todd Taylor - Google Docs.htm.icloud
        ../.Copy of Copy of Bottega Resume - Todd Taylor.pdf.icloud
        ../.DS_Store
        ../.localized
        ../.socialWire (1).pdf.icloud
        ../Array_Popper_DTT/
        ../Attendance_Policy.pdf
        ../BCBSKS Enrollment Summary Receipt.pdf
        ../BCS_CSS_Grid_DTT/
        ../BH5C3FD-allfiles/
        ../BLS_Provider_Card.pdf
        ../BlackJack_Game_DTT/
        ../Blackjack_HTML_CSS_JS_Course_DTT.pdf
        ../Blackjack_HTML_CSS_JS_DTT.zip
        ../Blackjack_HTML_CSS_JS_DTT/
        ../Bottega Resume - Todd Taylor(7-9-19).pdf
        ../BottegaSocialMediaProject_8_5_2019/
        ../Bottega_Cafe_JavaScript/
        ../Certificates for App Development /
        ../CodePen_ Online Code Editor and Front End Web Developer Community.htm
        ../CodePen_ Online Code Editor and Front End Web Developer Community_files/
        ../Code_Snippets_In_CS_Code/
        ../Copy of Bottega Resume - Todd Taylor - Google Docs_files/
        ../CreateAndRemoveBulletPointsBetweenListsDTT/
        ../Developer Folder (Codecedemy Independent Projects)/
        ../Dynamic-AJAX-Project-Files.zip
        ../Dynamic-AJAX-Project-Files/
        ../Dynamic-Web-resources.pdf
        ../DynamicWebFormCourseDTT.pdf
        ../EER_1.mwb
        ../Epocrates_Clone_DTT.zip
        ../Epocrates_Clone_DTT/
        ../Flexbox_capstone_project 2/
        ../Flexbox_capstone_project.zip
        ../Flexbox_capstone_project/
        ../GitHub/
        ../Hello World Flask Application/
        ../JavaScript-Resources.pdf
        ../JavaScriptInBrowser/
        ../LIVE_ Immunization Administration  Training for Pharmacists - Date_ 5_29.pdf
        ../LWD5e_materials-2/
        ../LWD5e_materials/
        ../Leaf.jpg
        ../Log_In_Page_EC.zip
        ../Log_In_Page_EC/
        ../Manual_Incrementing_Matrix.py
        ../New Dodge Game/
        ../NewWidget.zip
        ../NewWidget/
        ../Palmer-Traylor-Inc-js-footer/
        ../Poppy.jpg
        ../PrettyPriceJavaScriptDTT/
        ../Python-Fundamentals-Python-Programming-Language-Edureka.png
        ../Sample HTML-CSS/
        ../SamplesSwift/
        ../Screen Shot 2019-05-23 at 11.52.30 AM.png
        ../Screen Shot 2019-05-28 at 1.04.50 PM.png
        ../Screen Shot 2019-05-28 at 3.48.25 PM.png
        ../Starter_Project_JS/
        ../SwiftDemo/
        ../TeaCozy.code-workspace
        ../Team-Project/
        ../TestingFooterApp 2/
        ../ToDo List - CodeSandbox.htm
        ../ToDo List - CodeSandbox_files/
        ../Todd's Integrative Pharmacy  Full # 3Site.html
        ../Todd's Integrative Pharmacy  Full # 3Site_files/
        ../Todd's Integrative Pharmacy Site #2.html
        ../Todd_Traylor_SQL_Project/
        ../TwiiterUseCaseDiagramDTT_ Lucidchart_files/
        ../UF WPPD David Todd Traylor, PharmD, RPh/
        ../Untitled.sql
        ../XCode First App/
        ../addresses_in_SQL_Module_5_Guide_1026.csv
        ../attachment.jpg
        ../bistro/
        ../codepen-final-capstone-project-DTT.zip
        ../codepen-final-capstone-project-DTT/
        ../contact.html
        ../cqi-meeting-report 5-23-2019.pdf
        ../ecom/
        ../faae579450834b5916d6fcc44fc61bcd/
        ../fullsource (1)/
        ../git-commit assignment/
        ../gomarley-1969.jpg
        ../google-clone_DTT/
        ../gulpDocument/
        ../hello-flask-0f210cc30c2a46bd4ed3a2cd2f8ff43b6e42a7a6.zip
        ../hello-flask-0f210cc30c2a46bd4ed3a2cd2f8ff43b6e42a7a6/
        ../hello-flask-5f86922a5c9f3972c7474ffa5be50758cd3909f2.zip
        ../hello-flask-5f86922a5c9f3972c7474ffa5be50758cd3909f2/
        ../images/
        ../index.html
        ../memeMakerFE/
        ../meme_maker_api/
        ../menu.html
        ../my-code-stuff.code-workspace
        ../my-git-project/
        ../my-smarter-site/
        ../ode_Snippets_In_CS_Code/
        ../personal-offense-history DTT copy.pdf
        ../phone_parser-master.zip
        ../react-portfolio-assets-master/
        ../sample.html
        ../sample_app/
        ../studio3-development/
        ../teacozymixinattempt_dtt (1) (1)/
        ../teacozymixinattempt_dtt (1)/
        ../teacozymixinattempt_dtt/
        ../team-three-donut-shop.git/src/components/pages/
        ../test/
        ../todd-traylor-capstone-project/
        ../todd-traylor-react-portfolio/
        ../wf_e-report_v4-_1.pdf